<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center p-2 ">
    <div class="col-md-2 ">
      <div class="image-container">
        <div>
        <img src="assets/img/ecossistema/startups.png">
        <p><b>Startup</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container" >
        <div>
        <img src="assets/img/ecossistema/universidades.png">
        <p><b>Universidades</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div>
        <img src="assets/img/ecossistema/incubadoras.png">
        <p><b>Incubadoras</b></p>
      </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="image-container" >
        <div>
        <img src="assets/img/ecossistema/aceleradoras.png">
        <p><b>Aceleradoras</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div>
        <img src="assets/img/ecossistema/coworking.png">
        <p><b>Coworking</b></p>
      </div>
      </div>
    </div>
  </div>


  <div class="row d-flex justify-content-center p-2">
    <div class="col-md-2">
      <div class="image-container" >
        <div>
        <img src="assets/img/ecossistema/grandesempresas.png">
        <p><b>Grandes Empresas</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container" style="">
        <div>
        <img src="assets/img/ecossistema/mentores.png">
        <p><b>Mentores e conselheiros</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container" >
        <div>
        <img src="assets/img/ecossistema/investidores.png">
        <p><b>Investidores</b></p>
      </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="image-container">
        <div>
        <img src="assets/img/ecossistema/regulacao.png">
        <p><b>Regulação</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>


  <div class="row d-flex justify-content-center p-2">
    <div class="col-md-2">
      <div class="image-container" >
        <div>
        <img src="assets/img/ecossistema/talentos.png">
        <p><b>Talentos</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div>
        <img src="assets/img/ecossistema/eventos.png">
        <p><b>Eventos</b></p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div>
        <img src="assets/img/ecossistema/cultura.png">
        <p><b>Cultura</b></p>
      </div>
      </div>
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-2">

    </div>
  </div>



</div>



<div class="numbers-details container-fluid">
  <div class="row" style="width: 100%;">
      <ul class="list-inline d-flex justify-content-center">
          <li class="list-inline-item"><b>12.606 <span>Empreendedores</span></b></li>
          <li class="list-inline-item"><b>141 <span>Startups</span></b></li>
          <li class="list-inline-item"><b>51 <span>Incubadoras</span></b></li>
      </ul>
  </div>
</div>
