
<div class="container-fluid w-80 row1">
  <div class="row">
    <div class="col-md-6 mx-auto" style="margin-top: 10%;">
      <p>
        O <b>INAPEM</b> é o órgão da administração indirecta do Estado Angolano, criado ao abrigo da Lei nº 251/18 de
        12 de Novembro, como uma entidade de direito público,
        dotada de personalidade jurídica, capacidades de autonomia administrativa e financeira, cuja finalidade é
        advogar o empreendedorismo, bem como, proceder o acompanhamento do desenvolvimento do empresariado nacional.
      </p>
      <p>
        No âmbito das suas atribuições, o INAPEM, por definição vocacional, é a entidade encarregue de dinamizar às
        iniciativas empreendedoras que cimentem a actividade económica do País por meio dos pequenos produtores,
        dotando-lhes de ferramentas legais, materiais e financeiras como modo de garantir a sua funcionalidade e,
        consequentemente, gerar empregos e riqueza.
      </p>
      <p>
        No âmbito das suas atribuições, o INAPEM, por definição vocacional, é a entidade encarregue de dinamizar às
        iniciativas empreendedoras que cimentem a actividade económica do País por meio dos pequenos produtores,
        dotando-lhes de ferramentas legais, materiais e financeiras como modo de garantir a sua funcionalidade e,
        consequentemente, gerar empregos e riqueza.
      </p>
      <p>
        Há 30 anos, isto é, desde 1992, o INAPEM tem sido um instrumento de solução do Governo Angolano no apoio às
        MPMEs, tendo como suporte a nºLei 30/11 de 13 de Setembro de 2011 - que contempla um conjunto de benefícios
        concorrentes para o fomento do ecossistema das MPMEs.
      </p>
    </div>
    <div class="col-md-4 mx-auto">
      <div class="image-container">
        <img src="assets/img/sobre/presidente.png" alt="Imagem" style="max-width: 100%; margin-right: 0; padding-right: 0;">
      </div>
    </div>
  </div>
</div>



<div class="container">
<div class="row mt-5">
  <div class="col-md-4 offset-md-4">
    <h1 class="text-center"><b>Nossa Equipa</b></h1>

    <div class="image-container">
      <img src="assets/img/sobre/Pfoto1.png" alt="Imagem" style="max-width: 100%;">
    </div>

    <div class="mx-auto">
      <p class="text-center" style="font-size: 26px;"><b>João Muinguilo Lunda Nkosi</b></p>
      <p class="text-center">Presidente do Conselho de Administração do INAPEM</p>
    </div>
  </div>
</div>
</div>


<h1 class="text-center" style="margin-top: 2%; margin-bottom: 2%; text-decoration: underline; ">
ADMINISTRADORES EXECUTIVOS
</h1>


<div class="conteiner-fluid adm">
<div class="row d-flex justify-content-center">
  <div class="col-md-2">
    <div class="image-container">
      <img src="assets/img/sobre/braulio.png" alt="Imagem" style="max-width: 100%;">
    </div>
    <p class="text-center"><b><h2>Braulio Augusto</h2></b></p>
    <p class="text-center">Administrador</p>
  </div>
  <div class="col-md-2">
    <div class="image-container">
      <img src="assets/img/sobre/sheila.png" alt="Imagem" style="max-width: 100%;">
    </div>
    <p class="text-center"><b><h2>Sheila Bandeiara</h2></b></p>
    <p class="text-center">Administradora</p>
  </div>
  <div class="col-md-2">
    <div class="image-container">
      <img src="assets/img/sobre/osvaldo.png" alt="Imagem" style="max-width: 100%;">
    </div>
    <p class="text-center"><b><h2>Osvaldo Rasgado</h2></b></p>
    <p class="text-center">Administrador</p>
  </div>
  <div class="col-md-2">
    <div class="image-container">
      <img src="assets/img/sobre/samora.png" alt="Imagem" style="max-width: 100%;">
    </div>
    <p class="text-center"><b><h2>Samara Kitumba</h2></b></p>
    <p class="text-center">Administrador</p>
  </div>
</div>
</div>

<h1 class="text-center" style="margin-top: 2%; margin-bottom: 2%;">
Nossos Parceiros
</h1>

<div class="conteiner inst">
<div class="container">
<div class="row">
  <div class="v-line"></div>
  <h2>
    Instituições Públicas
  </h2>
</div>
<div class="row">
  <div class="image-container">
    <img src="assets/img/sobre/ipublicas.png" alt="Imagem" style="max-width: 100%;">
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="v-line"></div>
  <h2>
    Instituições Financeiras
  </h2>
</div>
<div class="row">
  <div class="image-container">
    <img src="assets/img/sobre/ifinanceiras.png" alt="Imagem" style="max-width: 100%;">
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="v-line"></div>
  <h2>
    Instituições Congêneres
  </h2>
</div>
<div class="row">
  <div class="image-container">
    <img src="assets/img/sobre/icongeneres.png" alt="Imagem" style="max-width: 100%;">
  </div>
</div>
</div>


<div class="container">
<div class="row">
  <div class="v-line"></div>
  <h2>
    Instituições Privadas
  </h2>
</div>
<div class="row">
  <div class="image-container">
    <img src="assets/img/sobre/iprivadas.png" alt="Imagem" style="max-width: 100%;">
  </div>
</div>
</div>


<div class="container">
<div class="row">
  <div class="v-line"></div>
  <h2>
    Feitos em Angola
  </h2>
</div>
<div class="row">
  <div class="image-container">
    <img src="assets/img/sobre/fangola.png" alt="Imagem" style="max-width: 100%;">
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="v-line"></div>
  <h2>
    Instituições internacionais
  </h2>
</div>
<div class="row">
  <div class="image-container">
    <img src="assets/img/sobre/iinternacionais.png" alt="Imagem" style="max-width: 100%;">
  </div>
</div>
</div>

</div>
