.row1
{
  width: 80%;
  margin-top: 5%;
  background-color:whitesmoke;
}

.row img{
  height: auto;
}

.row1{
  font-size: 20px;
}

.adm img
{
  width: 400px;
  height: 412px;
  margin-right: 40px;
}

.v-line{
  border-right: solid #f37000;
  height: 40px;
  width: 1px;
  margin-right: 8px;
 }

.inst .row
{
  margin-bottom: 5%;
  margin-top: 5%;
}
