.topo{
height: 970px;
margin-top: 5%;
position: relative;
flex: auto;
justify-content: center;
align-items: center;
}

.last div div div
{
  height: 370px;
  width: 90%;
  background-repeat: no-repeat;
  overflow: auto;
  background-position: center;
  background-size: cover;
    background-size: 100%;

}
.last{
  margin: 5%;
  margin-left: 8%;
}

.last div div div:hover{
  width: 92%;
}

