<div class="container my-5">
  <div class="row">
      <div class="col-md-4">
          <div class="card card-inapem">
              <div class="card-body">
                  <h5 class="card-title">Formalizacao da Actividade Economica</h5>
                  <p class="card-text">Serviço encarregue em promover ações que visam consolidar e formalizar os negócios de pequena dimensão dentro do setor formal da economia.</p>

                      <div class="row">
                          <div class="col-md-6 offset-6 img-card">
                            <img src="assets/img/servicos/s11.png" alt="Imagem" style="float: right;">
                          </div>
                      </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-inapem">
              <div class="card-body">
                  <h5 class="card-title">Formalizacao da Actividade Economica</h5>
                  <p class="card-text">Desenvolvimento de iniciativas de fomento e promoção do sector empresarial privado, que visem propor medidas concretas para eliminar os obstáculos ao desenvolvimento das empresas</p>

                      <div class="row">
                          <div class="col-md-6 offset-6 img-card">
                            <img src="assets/img/servicos/s21.png" alt="Imagem" style="float: right;">
                          </div>
                      </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-inapem">
              <div class="card-body">
                  <h5 class="card-title">Acesso a Financiamento</h5>
                  <p class="card-text">Serviço que apoia os empresários no acesso ao crédito junto das Instituições Financeiras bancárias e não Bancária.</p>

                      <div class="row">
                          <div class="col-md-6 offset-6 img-card">
                            <img src="assets/img/servicos/s31.png" alt="Imagem" style="float: right;">
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row mt-5">
      <div class="col-md-4">
          <div class="card card-inapem">
              <div class="card-body">
                  <h5 class="card-title">Certificação</h5>
                  <p class="card-text">Se é uma empresa, e pretende obter a sua certificação como micro, pequena ou média empresa ou acederao seu processo de certificação</p>

                      <div class="row">
                          <div class="col-md-6 offset-6 img-card">
                            <img src="assets/img/servicos/s12.png" alt="Imagem" style="float: right;">
                          </div>
                      </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-inapem">
              <div class="card-body">
                  <h5 class="card-title">Consultoria e Assistência Técnica</h5>
                  <p class="card-text">Disponibilização de plataformas digitais de informação de mercado e facilitadoras do intercâmbio empresarial(entre prestadores de serviços de consultoria e empresas)</p>

                      <div class="row">
                          <div class="col-md-6 offset-6 img-card">
                            <img src="assets/img/servicos/s22.png" alt="Imagem" style="float: right;">
                          </div>
                      </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-inapem">
              <div class="card-body">
                  <h5 class="card-title">Serviços Feito em Angola</h5>
                  <p class="card-text">O Serviço Feito em Angola(SFA) é mais um instrumento do executivo, coordenado pelo Ministério da Economia e Planeamento e operacionalizado pelo INAPEM.</p>

                      <div class="row">
                          <div class="col-md-6 offset-6 img-card">
                            <img src="assets/img/servicos/s33.png" alt="Imagem" style="float: right;">
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>
