<nav class="navbar navbar-expand-lg navbar-light  navbar-inapem">
  <a class="navbar-brand" href="#"><img src="assets/img/constantes/logo.png" style="height: 30px;" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  Sobre
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="sobre" routerLinkActive="active">Opcao 1</a>
                  <a class="dropdown-item" href="#">Opcao 2</a>
                  <a class="dropdown-item" href="#">Opcao 3</a>
              </div>
          </li>
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Servicos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="servicos" routerLinkActive="active">Opcao 1</a>
                  <a class="dropdown-item" href="#" routerLink="servicosll" routerLinkActive="active">Opcao 2</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Observatorio
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="observatorio" routerLinkActive="active">Opcao 1</a>
                  <a class="dropdown-item" href="#" routerLink="observatorioll" routerLinkActive="active">Opcao 2</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ecossistema Startups
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="ecossistema" routerLinkActive="active">Opcao 1</a>
                  <button class="dropdown-item" (click)="inscreverS()">Inscrever Startup</button>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Legislacao
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="legislacao" routerLinkActive="active">Opcao 1</a>
                  <a class="dropdown-item" href="#">Opcao 2</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Noticias
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="noticia" routerLinkActive="active">Opcao 1</a>
                  <a class="dropdown-item" href="#">Opcao 2</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Eventos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Opcao 1</a>
                  <a class="dropdown-item" href="#">Opcao 2</a>
                  <a class="dropdown-item" href="#">Opcao 3</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
          </li>
      </ul>
      <div class="d-flex w-100 justify-content-end" style="padding-right: 20px;">
        <img src="assets/img/constantes/idioma.png" style="margin-right: 1%; width: 55px; height: 25px;">

          <div class="nav-item dropdown" style="margin-right: 1%;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">PT</a>
                <a class="dropdown-item" href="#">ENG</a>
            </div>
        </div>
      </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row header-inapem">
      <div class="col-md-5 header-caption">
          <div class="row d-flex justify-content-center">
              <div [innerHTML]="mensagem.html" class="col-md-10">
                <P [innerHTML]="mensagem.html"></P>
              </div>
          </div>
      </div>
      <div class="col-md-1 d-none d-lg-block">
          <img src="assets/img/constantes/geometric.png" class="arrow-left" alt="">
      </div>
      <div class="col-md-6 header-inapem-image">

      </div>
  </div>
</div>

<div class="numbers-details container-fluid">
  <div class="container">
      <div class="row">
          <ul class="list-inline d-flex justify-content-center" style="width: 100%;">
              <li class="list-inline-item"><b>38.691 Empresas Certificadas</b></li>
              <li class="list-inline-item"><b>32.948 Micro Empresas</b></li>
              <li class="list-inline-item"><b>12.481 Emprendedores</b></li>
              <li class="list-inline-item"><b>3.182 Projectos</b></li>
              <li class="list-inline-item"><b>2.943 Pequenas Empresas</b></li>
              <li class="list-inline-item"><b>2.943 Medias Empresas</b></li>
              <li class="list-inline-item"><b>62 Incubadores</b></li>
              <li class="list-inline-item"><b>108 Startups</b></li>
          </ul>

      </div>
  </div>
</div>


<div class="overlay" *ngIf="mostrarOverlay" (click)="fechar_inscreverS()">
  <app-inscreverstartup class="inscreverS"></app-inscreverstartup>
</div>


<router-outlet></router-outlet>


<div class="container-fluid" style="margin-top: 8%;">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 redes" >
      <img src="assets/img/constantes/redes.png" style="width: 200px; height: 100px;">
    </div>
    <div class="col-md-1">
      <h2>Help</h2>
      <p> FAQ </p>
      <p> Customer service </p>
      <p> How to guides </p>
    </div>
    <div class="col-md-1">
      <h2>Other</h2>
      <p> Privacy Policy </p>
      <p> Sitemap </p>
      <p> Subscriptions </p>
    </div>
    <div class="col-md-1">
      <h2>Pogram</h2>
      <p> Nosso saber </p>
      <p> Rede INAPEM </p>
      <p> Feito em Angola </p>
    </div>
    <div class="col-md-4">
      <h2>Contact us</h2>
      <p> mailto:geralinapem.gov.ao </p>
      <p> +244 937 537 383 </p>
      <p> Largo 1º Maio, Edificio Torres Dipanda, Lado A 4º Andar, Luanda - Angola </p>
    </div>
  </div>
</div>
