.navbar {
  height: 80px;
}

.navbar .navbar-brand {
  font-weight: 900;
  font-size: 30px;
}

.navbar .btn-send {
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #FE2A2A;
  background-color: #FE2A2A;
  padding: 0.25rem;
}

.navbar .btn-search {
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #000;
  background-color: #000;
  padding: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar-inapem{
  background-color: #fff;
  z-index: 999;
}
.navbar-inapem a{
  font-size: 14px;
  font-weight: 500;
}


.header-inapem-image{
  background-image: url('../assets/img/constantes/save.png');
  background-position: center;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 370px;

}

.arrow-left{
  width: 280px;
  height: 480px;
  position: absolute;
  z-index: 99;
  top: 20px
}

.header-caption{
  display:flex;
  align-items: center;
  justify-content: center;
}

.header-caption h3{
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.header-caption h3>span{
  color: #FC8934;
}

.header-caption p{
  font-size: 20px;
  font-weight: 400;
}

.numbers-details .container{
  max-width: 98%;
}

.numbers-details{
  background-color: #F58B09;
  width: 100%;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  z-index: 999;
}

.numbers-details li{
  padding-left: 2%;
  padding-top: 1%;
}

li{
  display: flex;
align-items: center;
gap: 10px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.inscreverS{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
width: 85%;
}

@media(max-width: 1570){
  .arrow-left{
    width: 260px;
    height: 450px;
    top: 20px
  }
}

@media(max-width: 1540){
  .arrow-left{
    width: 230px;
    height: 420px;
    top: 20px
  }
}

@media(max-width: 1540){
  .arrow-left{
    width: 200px;
    height: 390px;
    top: 20px
  }
}

