.vantagens p{
margin-left: 5%;
}

.vantagens{
  margin-bottom: 8%;
}

.lei{
  background-image: linear-gradient(to bottom, #F37000, #F58B09);
  background-color: #F37000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
}

.provincia{
  background-image: url('../../assets/img/servicosll/provincia.png');
  background-repeat: no-repeat;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  right: 0;
  text-align: center;
  top: 0;
  background-position: center;
  background-size: cover;
  color:white;
}

.vantagens{
  margin-left: 4%;
}

.vantagens img{
  width: 20px; height: 20px;
  margin-left: 5%;
  float: right;
  vertical-align: middle;
}

.vantagens .row{
  padding: 1%;
}
.last{
  margin: 5%;
  margin-left: 8%;
}

.last div div div:hover{
  width: 92%;
}

.last div div div
{
  height: 200px;
  width: 90%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  overflow: auto;
  text-align: center;
  background-position: center;
  background-size: cover;
    background-size: 100%;
  border-radius: 15px;

}

