<h1 style="margin-bottom: 4%;"><p class="text-center"><b>Vantagens em obter a certificação</b></p></h1>

<div class="conteiner vantagens">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
<h4><p><b>Beneficios Fiscais</b></p></h4>
<div class="row">
  <div style="width: 10%; float: left;"><img src="assets/img/seta.png" ></div><div style="float: right; width: 85%;">Redução do imposto industrial até 50%.</div>
  </div>
  <div class="row">
    <div style="width: 10%; float: left;"><img src="assets/img/seta.png" ></div><div style="float: right; width: 85%;">Redução de 2% sobre as vendas brutas para as micro empresas.</div>
    </div>
    <div class="row">
      <div style="width: 10%; float: left;"><img src="assets/img/seta.png" ></div><div style="float: right; width: 85%;">Benefícios que variam de 10% até 50% para pequenas e médias empresas .</div>
      </div>
      <div class="row">
        <div style="width: 10%; float: left;"><img src="assets/img/seta.png" ></div><div style="float: right; width: 85%;">Isenção de encargos e emolumentos no acto do aumento do capital social.</div>
        </div>
        <div class="row">
          <div style="width: 10%; float: left;"><img src="assets/img/seta.png" ></div><div style="float: right; width: 85%;">Isenção de pagamento do imposto do selo para às micro empresas.</div>
          </div>
</div>

<div class="row">

<h4><p><b>Apoio institucionais</b></p></h4>
<div class="row">
<div style="width: 10%; float: left;"><img src="assets/img/servicosll/seta.png" style=" margin-top: 50%;"></div><div style="float: right; width: 85%;">directos na aquisição de bens e serviços as MPMEs, sendo que as entidades públicas devem reservar um mínimo de 25% do seu orçamentodestinados às MPME, relativa a aquisição de bens e serviços.</div>
</div>
<div class="row">
  <div style="width: 10%; float: left;"><img src="assets/img/servicosll/seta.png" style=" margin-top: 25%;"></div><div style="float: right; width: 85%;">Prazos de recebimentos melhorados - máximo de 45 dias de prazos de pagamentos por parte de entidades públicas, contados da data da recepção das facturas.</div>
  </div>
  <div class="row">
    <div style="width: 10%; float: left;"><img src="assets/img/servicosll/seta.png" style=" margin-top: 25%;"></div><div style="float: right; width: 85%;">Tratamento preferencial em procedimentos concursais – com 10% do valor dos contratos de bens e serviços entre entidades públicas e grandes empresas ficam reservados às MPMEs.</div>
    </div>
    <div class="row">
      <div style="width: 10%; float: left;"><img src="assets/img/servicosll/seta.png" style=" margin-top: 25%;"></div><div style="float: right; width: 85%;">Definido o mínimo de 25%do valor dos contratos para realização de obras públicas deve ser realizado por MPME.</div>
      </div>
      <div class="row">
        <div style="width: 10%; float: left;"><img src="assets/img/servicosll/seta.png" style="float: right;"></div><div style="float: right; width: 85%;">Preferência para MPME em caso de empate em concurso públicos e de subcontratação.</div>
        </div>
</div>
</div>
</div>
</div>

<div class="conteiner">
  <div class="row d-flex justify-content-center " style="width: 100%;">
    <div class="lei col-md-8 d-flex justify-content-center" style="padding: 0.6%;"><b>Lei nº 8/22, de 14 de Abril</b></div>
  </div>
  <div class="row d-flex justify-content-center" style="width: 100%;">
    <div class="provincia col-md-8 d-flex justify-content-center" style="padding: 0.5%;">
      <h2>Províncias</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2" style="border-right: 1px solid;">
      <h5 class="text-center">
        <b >Zona A</b>
        <p><b >10%</b></p>
      </h5>
      <p class="text-left">Províncias de Luanda e os Municípios-Sede das Províncias de Benguela, Huíla e o Município do Lobito.</p>
    </div>
    <div class="col-md-2" style="border-right: 1px solid;">
      <h5  class="text-center">
        <b>Zona B</b>
        <p><b >20%</b></p>
      </h5>
      <p>Províncias do Bié, Bengo, Cuanza-Norte, Cuanza-Sul, Huambo, Namibe e os restantes Municípios das Províncias de Benguela e da Huíla.</p>
    </div>
    <div class="col-md-2" style="border-right: 1px solid;">
      <h5 class="text-center">
        <b>Zona C</b>
        <p><b >35%</b></p>
      </h5>
      <p>Província do Cuando Cubango, Cunene, Lunda-Norte, Lunda-Sul, Malanje, Moxico, Uíge e Zaire</p>
    </div>
    <div class="col-md-2">
      <h5 class="text-center">
        <b>Zona D</b>
        <p><b >50%</b></p>
      </h5>
      <p>Província de Cabinda.</p>
    </div>
  </div>
</div>


<div class="conteiner last" >
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div style="background-image: url('assets/img/servicosll/solicitacao.png');">
      <h5 style="padding-top: 20%">Nova solicitação de certificado</h5>
    </div>
    </div>
    <div class="col-md-4">
      <div style="background-image: url('assets/img/servicosll/renovacao.png');">
      <h5 style="padding-top: 20%">Renovação do Certificado</h5>
    </div>
    </div>
    <div class="col-md-4">
      <div style="background-image: url('assets/img/servicosll/entrar.png');">
        <h5 style="padding-top: 20%"> Entrar para minha conta</h5>
    </div>
    </div>
  </div>
</div>
