<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
      <img src="assets/img/legislacao/estatu.png">
    <p><b>Estatu Orgânico INAPEM</b></p>
    </div>
    </div>
    <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/criacao.png">
        <p><b>Criação de Empresas</b></p>
    </div>
    </div>
    <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/financiamento.png">
        <p><b>Financiamento</b></p>
    </div>
    </div>

    <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/mpmes.png">
        <p><b>e Cooperativo</b></p>
    </div>
    </div>
      <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/coworking.png">
        <p><b>Coworking</b></p>
      </div>
      </div>
</div>


<div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
      <img src="assets/img/legislacao/Gempresas.png">
    <p><b>Grandes Empresas</b></p>
    </div>
    </div>
    <div class="col-md-2">
      <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/mentores.png">
        <p><b>Mentores e conselheiros</b></p>
    </div>
    </div>
    <div class="col-md-2">
        <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/investidores.png">
        <p><b>Investidores</b></p>
      </div>

    </div>

    <div class="col-md-2">
        <div class="image-container" style="width: 100%;">
          <img src="assets/img/legislacao/prei.png">
       <p><b>PREI</b></p>
    </div>
    </div>
      <div class="col-md-2">
        <div class="image-container" style="width: 100%;">
            <img src="assets/img/legislacao/feitoangola.png">
            <p><b>Feito em Angola</b></p>
      </div>
</div>
</div>



<img src="assets/img/legislacao/lastbarra.png" alt="" style="width: 100%; height: 125px; margin-top: 10%;">
