<div class="container-fluid">
  <div class="row d-flex justify-content-center p-2" style="margin-top: 15%;">
    <div class="col-md-2">
      <div class="image-container">
      <div style="gap:25px">
        <img src="assets/img/legislacao/estatu.png">
    <p>Estatu Orgânico INAPEM</p>
  </div>
  </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div style="gap:16px">
          <img src="assets/img/legislacao/criacao.png">
        <p >Criação de Empresas</p>
      </div>
    </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 14px;">
        <img src="assets/img/legislacao/financiamento.png">
        <p>Financiamento</p>
      </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 14px;">
        <img src="assets/img/legislacao/mpmes.png">
        <p>MPMEs e Cooperativo</p>
      </div>
      </div>
    </div>
      <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 12px;">
        <img src="assets/img/legislacao/coworking.png">
        <p>Coworking</p>
      </div>
      </div>
      </div>
</div>


<div class="row d-flex justify-content-center p-2" style="margin-bottom: 32%;">
    <div class="col-md-2">
      <div class="image-container">
      <div style="gap: 13px;">
        <img src="assets/img/legislacao/Gempresas.png">
    <p>Grandes Empresas</p>
  </div>
  </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 13px;">
        <img src="assets/img/legislacao/mentores.png">
        <p>Mentores e conselheiros</p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
        <div class="image-container">
          <div style="gap: 13px;">
          <img src="assets/img/legislacao/investidores.png">
        <p>Investidores</p>
      </div>
      </div>

    </div>

    <div class="col-md-2">
        <div class="image-container">
          <div style="gap: 40px;">
          <img src="assets/img/legislacao/prei.png">
       <p>PREI</p>
      </div>
      </div>
    </div>
      <div class="col-md-2">
        <div class="image-container">
          <div style="gap: 15px;">
          <img src="assets/img/legislacao/feitoangola.png">
            <p>Feito em Angola</p>
          </div>
          </div>
</div>
</div>
</div>
