<div class="container-fluid">
  <div class="row " style="margin-left: 1px; margin-top: 4%;">
    <div class="col-md-1">
      <button>Boletin</button>
    </div>
    <div class="col-md-1">
      <button>Relatorio</button>
    </div>
    <div class="col-md-1">
      <button>Estudos</button>
    </div>
    <div class="col-md-1">
      <button>Newsletters</button>
    </div>
  </div>

  <div class="row top d-flex justify-content-center">
    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 25px;">
        <img src="assets/img/observatorio/empresas.png">
    <p>Empresas Certificadas</p>
  </div>
    </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 39px">  
        <img src="assets/img/observatorio/incubadoras.png">
        <p>Incubadoras</p>
      </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 6px;">  
        <img src="assets/img/observatorio/projectos.png">
        <p>Projectos e Financiamentos</p>
      </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 16px">  
        <img src="assets/img/observatorio/startups.png">
        <p>Startups</p>
      </div>
      </div>
    </div>
      <div class="col-md-2">
      <div class="image-container">
        <div style="gap: 21px;">  
        <img src="assets/img/observatorio/capacitacao.png">
        <p>Capacitação</p>
      </div>
      </div>
      </div>
      <div class="col-md-2">
        <div class="image-container">
          <div style="gap: 28px">  
          <img src="assets/img/observatorio/consultorio.png">
          <p>Consultório</p>
        </div>
        </div>
        </div>

</div>

<div class="row d d-flex justify-content-center grafico" style="margin-bottom: 21%;">
  <div class="col-md-8" style="position: relative;">
    <h2>Ecossistema de meses</h2>
    <div class="valores">
    <p><b>1 000 000</b></p>
    <p><b>1000</b></p>
    <p><b>800</b></p>
    <p><b>200</b></p>
    <p><b>100</b></p>
    <p><b>80</b></p>
    <p><b>60</b></p>
    <p><b>40</b></p>
    <p><b>20</b></p>
    <p><b>10</b></p>
    <p><b>0</b></p>
  </div>
    <div class="row d-flex justify-content-center barra" style="position: absolute; width: 80%; bottom: 0; left: 15%; margin-bottom: 1%;">
      <div class="col-md-2">
    <div class="Gbarra">

    </div>
    <div class="Rbarra">

    </div>
    <P>Jun</P>
  </div>
  <div class="col-md-2">
    <div class="Gbarra">

    </div>
    <div class="Rbarra">

    </div>
    <P>Agos</P>
  </div>
  <div class="col-md-2">
    <div class="Gbarra">

    </div>
    <div class="Rbarra">

    </div>
    <P>Set</P>
  </div>
  <div class="col-md-2">
    <div class="Gbarra">

    </div>
    <div class="Rbarra">

    </div>
    <P>Out</P>
  </div>
  <div class="col-md-2">
    <div class="Gbarra">

    </div>
    <div class="Rbarra">

    </div>
    <P>Nov</P>
  </div>
  <div class="col-md-2">
    <div class="Gbarra">

    </div>
    <div class="Rbarra">

    </div>
    <P>Dez</P>
  </div>
  </div>
  </div>
</div>
</div>


