<div class="container-fluid w-75">
  <div class="row info mx-auto">
    <div class="col-md-6 ">
          <h1>Potencializamos</h1>
           <h1>as Pequenas, Médias e Grandes</h1>
           <h1> Empresas para um futuro melhor</h1>
          <p>O Instituto Nacional de Apoio as Micro, Pequenas e Médias Empresas, abreviadamente INAPEM, é o órgão da administração  indireta do Estado Angolano, ao qual compete genericamente a implantação  das políticas e estratégias no domínio da capacitação e financiamento das micro, pequenas e médias empresas.</p>
        </div>

    <div class="col-md-6">
      <div class="image-container">
        <img src="assets/img/home/certificado.png" alt="Imagem">
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3 ">
        <div class="image-container">
          <img src="assets/img/home/hlogo.png" alt="Imagem" style="width: 750px;">
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 6%;">
      <div class="col-md-4 ob">
        <div class="row">
          <div>
           <img src="assets/img/home/missao.png">
           <h1 >Missao</h1>
          </div>
        </div>
           <p>Tornar-se o principal parceiro estratégico no crescimento do tecido empresarial privado nacional..</p>
          </div>

          <div class="col-md-4 ob">
            <div>
              <img src="assets/img/home/visao.png">
              <h1>Visao</h1>
              <p>Ser o factor catalisador para o crescimento do tecido empresarial privado nacional e contribuir no processo da diversificação da economia nacional.</p>
            </div>
            </div>
            <div class="col-md-4 ob">
              <div>
                <img src="assets/img/home/valores.png">
                <h1>Valores</h1>
                <p>Alinhado com os objectivos e metas definidas no Plano de Desenvolvimento Nacional para o fomento de um tecido empresarial privado mais robusto</p>
              </div>
              </div>
    </div>
  </div>


    <div class="container-fluid last">
      <div class="row" style="margin-top: 8%;">
          <div class="col-md-2">

                  <br>
                  <br>
                  <h2 style="text-align: right;">HÁ 10 ANOS
                    A AJUDAR
                    AS MPME</h2>
                    <br>

          </div>



          <div class="col-md-5" style="border-left: 2px solid yellow;">
            <h5 style="text-align: left;">O INAPEM apresenta uma alternativa ao financiamento de capital a longo prazo
              estável para os empresários locais e estrangeiros que procuram entrar no mercado Angolano.</h5>
              <h5 style="text-align: left;">As empresas investidas pelo INAPEM terão acompanhamento directo, quer do ponto de vista estratégico ou financeiro ao longo do ciclo de vida do negócio.</h5>

              <button style=" float: left;">Saber mais</button>
            </div>
      </div>
  </div>

