.info
{
  margin-top: 8%;
}

.info img
{
 width: 21.875rem;
 height: 21.875rem;
 float: right;
}

.logos{
  width: 56%;
}


.logos img{
  width: 160px;
  max-height: 120px;
}

.last{
  background:  url('../../assets/img/home/rocket.png');
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  color: black;
  overflow: auto;
  padding: 3em;
  text-align: center;
  background-position: center;
  background-size: cover;
}

h3 span{
  color: #FC8934;
}

.header-caption h3>span{
  color: #FC8934;
}

.ob img, .ob h1
{
  display: inline-block; vertical-align: middle;
}

.ob img{
  width: 35px; height: 30px;
  margin-right: 20px;
}

